# Godot 4+ specific ignores
.godot/
resources/Sprout Lands - Sprites - Basic pack/Characters/Idlejumpwalk_away_slug.png.import
resources/Sprout Lands - Sprites - Basic pack/Characters/Walk_towards_us_slug.png.import
